.skills {
    margin: 2.875rem 0;
    background-color: $bg-section;
    // .skills__container

    &__container {
    }

    // .skills__body

    &__body {
    }
    &__title {
        font-family: "Poppins", sans-serif;
        color: $title-color;
        font-size: 4.625rem;
        font-weight: 800;
        line-height: 6.25rem; /* 135.135% */
        margin-bottom: 2rem;
        text-align: center;
    }
    // .skills__slider-slide

    &__slider-slide {
    }
    &__slider-wrapper {
        text-align: center;
    }
    @media (max-width: 53.125rem) {
        &__slider {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }
        &__slider-slide {
            max-width: 200px;
        }
        &__slide-text {
            color: $main-color;
            font-size: 3.625rem;
            font-weight: 800;
            line-height: 6.25rem;
            margin-bottom: 2rem;
        }
    }
    // .skills__slide-image

    &__slide-image {
    }
    &__slide-image img {
        width: 9.375rem;
        height: 6.25rem;
    }
    // .skills__slide-text

    &__slide-text {
        color: $main-color;
        font-size: 3.625rem;
        font-weight: 800;
        line-height: 6.25rem;
        margin-bottom: 2rem;
    }
    @media (max-width: 53.125rem) {
        &__slider {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }
        &__slider-slide {
            max-width: 200px;
        }
        &__slide-text {
            font-size: 2.625rem;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }
    }
}
